.checkoutProduct {
  display:flex;
  margin-top: 20px;
  margin-bottom: 20px;
}


.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button:hover {
  background: #f9d75c !important;
}

.checkoutProduct > img {
  object-fit: contain;
  width: 80px;
  height: 80px;
}

.price__and__remove {
  margin-top: 6px;
  display:flex
}

.checkoutProduct__price {
  min-width: 110px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 650;
}

.price__and__remove > button {
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  height: 25px;
  text-transform: inherit;
  padding: 14px 19px;
}

.price__and__remove > button:hover {
  background: #f9d75c !important;
}