.subtotal__below {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-left: 15px;

  font-size: 18px;
}

.below__buttons {
  display:flex;
}

.below__checkout > button {
  background: #f0c14b;
  border-radius: 2px;
  width: 250px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  margin-right: 33px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  text-transform: inherit;
}

.below__checkout > button:hover {
  background: #f9d75c !important;
  cursor: pointer;
}

.below__home > button {
  background: lightgray;
  border-radius: 2px;
  width: 250px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  margin-right: 33px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  text-transform: inherit;
}

.below__home > button:hover {
  background:#eeeeee;
  cursor: pointer;
}

